.choice .container{
    width: 1280px;
    height: 653px;
    color: #2C343E;
    background: #2C343E;
    border-radius: 10px;
}

.choice__list{
    display: flex;
    list-style-type: none;
    
   .choice__list::before
        {
            position: absolute;
            display: block;
            width: 763px;
            height: 1px;
            background-color:#FDD6BA;
            content: '';
        }
        
    }


.choice__item{
    position: relative;
    width: 285px;
    padding-top: 100px;
    margin: 20px;
    margin-top: 0;
    
    &::before{
        position:absolute;
        margin-top: 50px;
        top: 0;
        display: inline-block;
        width: 27px;
        height: 27px;
        border: 2px solid #0E8784;
        border-radius: 50%;
        box-sizing: border-box;
        content: '';
    }
}

.choice__item + .choice__item{
    margin-left: 95px;
}

.choice__heading{
    display: flex;
    flex-direction: column;
    margin-bottom: 42px;
    
    &__count{
        margin-bottom: 38px;
        font-family: Fraunces 9pt;
        font-style: normal;
        font-weight: 900;
        font-size: 72px;
        line-height: 72px;
        color: #FDD6BA;
    }
    
    &__text{
        font-family: Fraunces 9pt;
        font-style: normal;
        font-weight: 900;
        font-size: 32px;
        line-height: 36px;
        color: #FEFCF7;
    }
}

.choice__text{
    font-family: Barlow;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #FEFCF7;
    
}