.commitment .container{
    display: flex;
    justify-content: space-between;
    width: 1110px;
    height: 520px;
}
.commitment{
    margin-top: 168px;
    margin-bottom: 158px;
}
.commitment__image{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 445px;
    height: 520px;
    margin-right: 125px;
    object-fit: cover;
}

.our-commitment{
    width: 540px;
}
.commitment__heading{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 357px;
    font-family:Fraunces ;
    font-weight:900;
    font-size: 40px;
    line-height: 48px;
    color: #333D4B;
}

.commitment__paragraph{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 540px;
    font-size: 16px;
    line-height: 26px;
    color: #333D4B;
    opacity: 0.8;
}
