.footer .container{
    background-color: #2C343E;
    
}

.footer__inner{
    display: flex;
    align-items: center;
    margin-top: 168px;
    padding: 47px 85px;
    background-color: #2c343e;
}

.footer .logo-link{
    margin-right: 100px;
}

.footer .nav__link:hover{
    color: #fefcf7;
}

.footer .nav__link:active{
    color: #fefcf7;
}


@media  only  screen and (max-width:770px){
    flex-direction: column;

   
}