.footer .container{
    background-color: #2C343E;
    
}

.footer__inner{
    display: flex;
    align-items: center;
    padding: 47px 20px;
}

.footer .logo-link{
    margin-right: 103px;
}

.footer .nav__link:hover{
    color: #fefcf7;
}
