
.socials{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    margin-left: auto;
    padding: 0;
    list-style-type: none;
}

.socials__item + .socials__item{
    margin-left: 24px;
}

.socials__link{
    text-decoration: none;
}
